<h1 class="headings">Customer Registration Form</h1>

<h4>New Registration</h4>
 <%= form_with scope: :customer, url: customers_path, local: true do |form| %>
  <%= form.label :name, "Name:" %>
  <%= form.text_field :name %><br>
  <%# <%= text_field_with_label form, :name %><br>

  <%= form.label :phone_num, "Phone_num:" %>
  <%= form.text_field :phone_num %><br>

  <%= form.label :date_on_buy, "DOB:" %>
  <%= form.date_select :date_on_buy %><br>
  

<%= form.label :state, "State:" %>
  <%= form.select :state, ["AndhraPradesh", "Telangana", "Tamilnadu","Karnataka"] %><br>
  <%= form.submit %>
 <% end %> 
